body{
    text-align: center;
    font-family: Inter;  
    background-color: blanchedalmond;
}
#uppercase{
    background-color: orange;
}
#lowercase{
    background-color: khaki;
}
    
#reverse{
    background-color: burlywood;
}
#capitalize{
    background-color:aqua;
}